<app-toolbar-menu
  [menuTitle]="menuName"
  [popText]="popText"
  [shadow]="applyShadow"
  [items_menu]="items_menu"
  >
</app-toolbar-menu>
<mat-sidenav-container>
  <mat-sidenav
    class="sidenav mat-elevation-z2"
    #sidenav
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
  >
    <mat-toolbar>
      <img class="avatar mat-elevation-z4" src="https://source.unsplash.com/c_GmwfHBDzk/200x200">
      <a routerLink="/users" class="name">Vinícius Andrade</a>
      <p class="designation">Senior Software Engineer</p>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a *ngFor="let item of items_menu" mat-list-item
      [routerLink]="item.link" routerLinkActive="active">
        <mat-icon fontSet="fa" [fontIcon]="item.icon"></mat-icon>
        <span>{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar-submenu" color="primary">
      <mat-toolbar-row class="toolbar-submenu-top">
        <button
          matTooltip="{{sidenav.opened ? 'Fechar menu' : 'abrir menu'}}"
          matTooltipPosition="right"
          mat-icon-button
          class="example-icon"
          (click)="sidenav.toggle()"
        >
          <mat-icon>
            {{sidenav.opened ? 'close' : 'menu'}}
          </mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class="toolbar-submenu-title">
        <span *ngIf="!popText">{{menuName}}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
