<mat-sidenav-container>
  <mat-sidenav
    class="sidenav mat-elevation-z2"
    #sidenav
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
  >
    <mat-toolbar>
      <img class="avatar mat-elevation-z4" src="https://source.unsplash.com/c_GmwfHBDzk/200x200">
      <a routerLink="/users" class="name">Vinícius Andrade</a>
      <p class="designation">Senior Software Engineer</p>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a *ngFor="let item of items_menu" mat-list-item
      [routerLink]="item.link" routerLinkActive="active">
        <mat-icon fontSet="fa" [fontIcon]="item.icon"></mat-icon>
        <span>{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      class="toolbar-menu"
      color="primary"
      [class.mat-elevation-z4]="applyShadow"
    >
      <button
        matTooltip="{{sidenav.opened ? 'Fechar menu' : 'abrir menu'}}"
        matTooltipPosition="right"
        mat-icon-button
        class="example-icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>
          {{sidenav.opened ? 'close' : 'menu'}}
        </mat-icon>
      </button>
      <span *ngIf="popText">My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar class="toolbar-submenu" color="primary">
      <span *ngIf="!popText">My App</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
