<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        Tecnologia
        <div fxFlex></div>
        <button mat-mini-fab style="margin-top: -32px;" class="mat-elevation-z2">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>Desenvolvimento Web Avançado com React</mat-card-title>
      <mat-card-content>
          Aprenda React de forma avançada. (Tecnologia)
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        Tecnologia
        <div fxFlex></div>
        <button mat-mini-fab style="margin-top: -32px;" class="mat-elevation-z2">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>Desenvolvimento Web Avançado com React</mat-card-title>
      <mat-card-content>
          Aprenda React de forma avançada. (Tecnologia)
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        Tecnologia
        <div fxFlex></div>
        <button mat-mini-fab style="margin-top: -32px;" class="mat-elevation-z2">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>Desenvolvimento Web Avançado com React</mat-card-title>
      <mat-card-content>
          Aprenda React de forma avançada. (Tecnologia)
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        Tecnologia
        <div fxFlex></div>
        <button mat-mini-fab style="margin-top: -32px;" class="mat-elevation-z2">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>Desenvolvimento Web Avançado com React</mat-card-title>
      <mat-card-content>
          Aprenda React de forma avançada. (Tecnologia)
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        Tecnologia
        <div fxFlex></div>
        <button mat-mini-fab style="margin-top: -32px;" class="mat-elevation-z2">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-card-title>Desenvolvimento Web Avançado com React</mat-card-title>
      <mat-card-content>
          Aprenda React de forma avançada. (Tecnologia)
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
