<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    #sidenav
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
  >
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      class="toolbar-menu"
      color="primary"
      [class.mat-elevation-z4]="applyShadow"
    >
      <button
        mat-icon-button
        class="example-icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="popText">My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar class="toolbar-submenu" color="primary">
      <span *ngIf="!popText">My App</span>
    </mat-toolbar>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
