.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 250px;
}

mat-sidenav-content {
  height: 100vh;
}

mat-sidenav-container {
  height: 100vh;
}

.toolbar-menu {
  position: fixed;
  font-size: 1rem;
  top: 0;
}

.toolbar-submenu {
  height: 100px;
  font-size: 2rem;
  margin-top: 60px;
}


.title {
  margin-bottom: 500px;
}
