<div>
  <h1>Icons colors</h1>
  <mat-icon color="primary">favorite</mat-icon>
  <mat-icon color="accent">star</mat-icon>
  <mat-icon color="warn">pets</mat-icon>
</div>
<br>
<div>
  <h1>Button Icons colors</h1>
  <button mat-icon-button color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>star</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>pets</mat-icon>
  </button>
</div>
<br>
<div>
  <h1>Button Icons Fab colors</h1>
  <button mat-fab color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-fab color="accent">
    <mat-icon>star</mat-icon>
  </button>
  <button mat-fab color="warn">
    <mat-icon>pets</mat-icon>
  </button>
</div>
<br>
<div>
  <h1>Button Icons mini Fab colors</h1>
  <button mat-mini-fab color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
    <mat-icon>star</mat-icon>
  </button>
  <button mat-mini-fab color="warn">
    <mat-icon>pets</mat-icon>
  </button>
</div>
<br>
<hr>
