.icon-space {
  margin-right: 5px;
}

mat-toolbar {
  margin: -10px -4px 5px -20px;
  width: calc(100% + 40px);
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #efefef;
  height: 45px;
  padding: 10px 10px 18px;
}
