<div class="content mat-elevation-z4">
  <app-toolbar-title title="Usuário" icon="list">
  </app-toolbar-title>
  <nav mat-tab-nav-bar ngClass="tabs">
    <a mat-tab-link routerLink="/users/myProfile" routerLinkActive="active-link">
      <mat-icon>person</mat-icon>
      Profile
    </a>
    <a mat-tab-link routerLink="/users/myDisciplines" routerLinkActive="active-link">
      <mat-icon>play_lesson</mat-icon>
      Disciplines
    </a>
    <a mat-tab-link routerLink="/users/myConquests" routerLinkActive="active-link">
      <mat-icon>workspace_premium</mat-icon>
      Conquests
    </a>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
