<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nam facilis accusamus ad quae ipsa hic itaque rerum ipsum, debitis ducimus minus? Inventore hic facere blanditiis fugiat alias tenetur dolorum.
    <br>
    <br>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
